@page "/Weighing"
<div class="container mx-auto p-3">
    <div class="flex gap-3 w-full flex-col"
    <h3 class="text-primary text-center">
        WEIGHING SCALE
    </h3>
    <div class="flex flex-row gap-5 w-full justify-center">
        <button class="p-3 shadow w-1/4 bg-cyan-600 hover:bg-cyan-300 text-white text-center">ZERO</button>

        <button class="p-3 shadow w-1/4 bg-cyan-600 hover:bg-cyan-300 text-white text-center">CALIBRATION</button>
    </div>
    </div>
</div>
@code {

}
